@import "variables.less";
@import "mixins.less";

@btn-border-width: 2px;
@btn-border-radius: 55px;
@btn-padding: 5px 50px;
@edit-radius: 70px;
@edit-padding: 5px 35px;

.btn{
  border-width: @btn-border-width;
  border-radius: @btn-border-radius;
  border-style: solid;
  outline: none;
  cursor: pointer;
  &:hover{
    box-shadow: none;
  }
  &:focus, &:active, &:active:focus{
    outline: none;
  }
}

.btn-empty{
  border: none;
  background: transparent;
  outline: none;
}

.btn-menu{
  .smooth(all, 0.5s, cubic-bezier(0.5, 0, 0.5, 2), left, 0.5s, ease-in-out);
  transform-origin: 50% 50%;
  position: absolute;
  width: 40px;
  height: 40px;

  @media @tablet{
    width: 50px;
    height: 50px;
  }
  border: 2px solid white;
  padding: 0px;
  top: 10px;
  left: calc(50% - 25px);
  @media @tablet{
    top: calc(50% - 25px + 22.5px);
  }
  span{
    .smooth(all, 0.5s, ease-in-out);
    display: block;
    .centered;
    border-bottom: 1px solid white;
    width: 18px;
    &:first-child{
      transform: translate(-50%, calc(~"-50% - 6px"));
    }
    &:last-child{
      transform: translate(-50%, calc(~"-50% + 6px"));
    }
    @media @tablet{
      width: 25px;
      &:first-child{
        transform: translate(-50%, calc(~"-50% - 8px"));
      }
      &:last-child{
        transform: translate(-50%, calc(~"-50% + 8px"));
      }
    }
  }

  &.zoomIn{
    transform: scale(1.2);
  }

  &.open{
    z-index: 1000;
    left: calc(100% - 60px);
    transform: none;
    border-color: transparent;
    @media @tablet{
      opacity: 0;
      left: calc(50% - 25px);
    }
    span{
      @media (max-width: 767px){
        &:not(:first-child):not(:last-child){
          opacity: 0;
        }
        &:first-child{
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:last-child{
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}