@import "mixins.less";
@import "variables.less";
@import "fonts.less";
@import "buttons.less";


@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 992px)";
@hd: ~"(min-width: 1200px)";
@large: ~"(min-width: 1400px)";
@fullHD: ~"(min-width: 1900px)";

@color-main-page: #ffffff;
@color-m-p: @color-main-page;

@color-main: #000000;

@text-main-title: 50px;
@text-m-t: @text-main-title;

@text-main-subtitle: 50px;
@text-m-sub: @text-main-subtitle;

@text-size: 36px;
@text-size-mobile: 24px;
@text-size-tablet: 28px;

@navbar-offset-large: 150px;
@navbar-offset: 120px;
@navbar-offset-tablet: 100px;

html,body{
  margin: 0;
  padding: 0;
  .general-text(@color-main);
  &.main-body{
    background: black;
    overflow: hidden;
  }
  height: 100%;
}

body{
  .smooth-long(all, 0.5s);
  opacity: 1;
  position: relative;
  background-color: white;
  &:not(.main-body){
    &>.container-fluid{
      min-height: 100vh;
      &>.row{
        min-height: 100vh;
      }
    }
  }
  &.invisible{
    opacity: 0.01;
  }
}

header{
  height: 100vh;
  &.open{
    @media (min-width: 768px) and (max-width: 1199px){
      .container-fluid{
        left: calc(50% + 33.33333333%/2);
        width: calc(100% - 33.33333333%);
      }
    }
  }
  .container-fluid{
    .smooth;
    z-index: 10;
    width: 100%;
    .centered;
  }
  h2{
    .smooth-long(all, 2s);
    text-shadow: 0 0 10px #ffffff;
    margin-top: 0px;
  }
  h1{
    margin-top: 0px;
  }
}


.menu-container{
  .smooth;
  position: absolute;
  height: 100%;
  padding: 0px;
  z-index: 100;
  @media @tablet{
    z-index: 50;
  }
  &.open{
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
      z-index: 100;
    }
  }
}

.carousel-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .photo{
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .smooth-long(opacity, 2s);
    z-index: 1;
    opacity: 0;
    img{
      .centered;
    }
    &.current{
      z-index: 3;
      opacity: 1;
    }
    &.next{
      z-index: 2;
      opacity: 0;
    }
  }
}

.main-nav{
  .smooth;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  padding: 0px;
  background: rgba(0,0,0,0.8);
  &.closed{
    transform: translateY(-100%);
    opacity: 0;
  }

  .container-fluid{
    padding: 0;
  }

  .navbar-collapse{
    position: relative;
  }
  
  @media @tablet{
    opacity: 1;
    height: 100vh;
    &.closed{
      transform: translateX(-100%);
    }
    
    .container-fluid{
      height: 100%;
      .row{
        height: 100%;
      }
    }

    .navbar-collapse{
      .centered;
      position: relative;
    }
  }
}

.navbar-collapse{
  text-align: left;
}

.navbar(@color){
  float: left;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  &>li{
    @media @tablet{
      float: unset;
      &>a{
        line-height: 30px;
      }
    }
    &>a{
      z-index: 10;
      display: inline-block;
      color: @color;
      .smooth-long(all, 0.3s);
      &:hover,&:focus{
        text-decoration: none;
        background-color: transparent;
        color: @color;
        opacity: 0.5;
      }
    }
  }
}

.main-navbar{
  .navbar(@color-m-p);
  @media (max-width: 767px){
    margin-top: 30px;
  }
}

nav.nav {
  padding: 0;
  @media (max-width: 767px){
    background: white;
    &.fixed-top{
      position: fixed;
      top: 0;
      z-index: 1000;
    }
  }
  .navbar-collapse{
    width: 100%;
    @media @tablet{
      position: fixed;
      height: calc(100vh - @navbar-offset-tablet*2)!important;
      top: @navbar-offset-tablet;
      width: 33.33333333%;
      border-right: 1px solid #000000;
    }
    @media @hd{
      // height: calc(100vh - @navbar-offset*2)!important;
      // top: @navbar-offset;
      width: 25%;
    }
    @media @large{
      height: calc(100vh - @navbar-offset-large*2)!important;
      top: @navbar-offset-large;
    }
    .navbar-nav{
      .navbar(@color-main);
      .centered;
      @media (max-width: 767px){
        top: unset;
        transform: translate(-50%, 0%);
      }
      position: relative;
      &>li{
        &>a{
    
        }
      }
    }
  }
}

.navbar-header{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 767px){
    border-bottom: 1px solid #000000;
  }
}

.collapse{
  @media(max-width:767px){
    background: white;
    border-bottom: 1px solid #000000;
  }
  &.in{
    z-index: 100;
    .navbar-nav{
      top: unset!important;
      transform: translate(-50%,0%)!important;
    }
  }
}

.brand{
  display: block;
  color: @color-main;
  float: left;
  margin-left: 10px;
  &:hover,&:focus{
    text-decoration: none;
    background-color: transparent;
    color: @color-main;
  }
  h1{
    border-bottom: 1px solid #000000;
    margin-bottom: 0px;
    font-size: 28px;
    @media @hd{
      font-size: 32px;
    }
    @media @large {
      font-size: 36px;
    }
  }
  h2{
    margin-top: 0px;
    font-size: 24px;
    @media @hd {
      font-size: 27px;
    }
    @media @large {
      font-size: 30px
    }
  }
  @media @tablet{
    margin-left: 0px;
    // margin-top: 10px;
  }
  @media @large{
    margin-top: 20px;
  }
}

section{
  padding: 0px!important;
  min-height: 100vh;
  @media (max-width: 767px){
    margin-top: 100px;
  }
  @media @tablet {
    left: -1px;
    top: @navbar-offset-tablet;
    height: calc(100vh - @navbar-offset-tablet*2);
  }
  // @media @hd {
  //   top: @navbar-offset;
  //   height: calc(100vh - @navbar-offset*2);
  // }
  @media @large {
    top: @navbar-offset-large;
    height: calc(100vh - @navbar-offset-large*2);
  }
  overflow: auto;
  overflow-x: hidden;
  direction: rtl;
  position: relative;
  .smooth-long(all, 0.3s);
  &::-webkit-scrollbar-track
  {
    background-color: white;
    border: 1px solid black
  }

  &::-webkit-scrollbar
  {
    width: 5px;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: #000000;
    border: 2px solid #555555;
  }
}

.content{
  position: relative;
  padding: 0px 10px;
  .img-wrapper{
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
  }
  @media @tablet {
    padding: 0px 30px;
    // top: @navbar-offset-tablet;
    // height: calc(100vh - @navbar-offset-tablet*2);
    // width: calc(100vh - @navbar-offset-tablet*2);
    // padding-left: calc(((100vw*8/12) - (100vh - @navbar-offset-tablet*2))/2);
    // padding-right: calc(((100vw*8/12) - (100vh - @navbar-offset-tablet*2))/2);
  }
  @media @desktop {
    padding: 0px 50px;
    // top: @navbar-offset;
    // height: calc(100vh - @navbar-offset*2);
    // width: calc(100vh - @navbar-offset*2);
    // padding-left: calc(((100vw*9/12) - (100vh - @navbar-offset*2))/2);
    // padding-right: calc(((100vw*9/12) - (100vh - @navbar-offset*2))/2);
  }
  @media @hd{
    padding: 0px 80px;
  }
  @media @large{
    padding: 0px 120px;
  }
  p{
    .smooth-long(all, 0.3s);
    max-width: 1000px;
    direction: ltr;
    font-size: 18px;
    margin: 0 auto;
    text-align: justify;
    &.first-line{
      text-align: right!important;
      margin-bottom: 5px!important;
    }
    &:not(:last-child){
      margin-bottom: 18px;
      @media @tablet {
        margin-bottom: 28px;
      }
    }
    @media @tablet {
      font-size: 20px; 
    }
    @media @desktop {
      font-size: 22px; 
    }
    @media @hd {
      font-size: 24px
    }
    @media @large{
      font-size: 28px;
    }
  }
  .right{
    padding: 0px;
    direction: ltr;
    @media @tablet {
      margin-left: 20px;
      padding: 0px 15px;
    }
    @media @hd{
      margin-left: 35px;
    }
    img{
      width: 100%;
      @media (max-width:767px){
        margin-bottom: 10px;
      }
    }
  }
}

.gallery-section{

}