@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 992px)";
@hd: ~"(min-width: 1200px)";
@large: ~"(min-width: 1400px)";
@fullHD: ~"(min-width: 1900px)";

@color-main-page: #ffffff;
@color-m-p: @color-main-page;

@color-main: #000000;

@text-main-title: 56px;
@text-m-t: @text-main-title;

@text-main-subtitle: 50px;
@text-m-sub: @text-main-subtitle;

@text-size: 36px;
@text-size-mobile: 24px;
@text-size-tablet: 28px;