@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 992px)";
@hd: ~"(min-width: 1200px)";
@large: ~"(min-width: 1400px)";
@fullHD: ~"(min-width: 1900px)";

@color-main-page: #ffffff;
@color-m-p: @color-main-page;

@color-main: #000000;

@text-main-title: 50px;
@text-m-t: @text-main-title;

@text-main-subtitle: 50px;
@text-m-sub: @text-main-subtitle;

@text-size: 28px;
@text-size-mobile: 20px;
@text-size-desktop: 26px;
@text-size-tablet: 24px;
@text-size-large: 32px;

@content-size: 22px;
@content-size-large: 28px;
@content-size-mobile: 16px;
@content-size-tablet: 18px;
@content-size-desktop: 20px;

@navbar-offset-large: 150px;
@navbar-offset: 120px;
@navbar-offset-tablet: 100px;

@brand-size: 30px;
@brand-size-large: @brand-size*6/5;
@brand-size-small: @brand-size*4/5;

@content-padding: 0px 120px;
@content-padding-mobile: 0px 10px;
@content-padding-tablet: 0px 30px;
@content-padding-desktop: 0px 50px;
@content-padding-large: 0px 140px;